/* Contact Us */
.ContactUs {
    height: 90vh;
    display: flex;
    flex-direction: row;
    background-color: #94d1d1;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    margin: auto;
}


.FormContactUs {
    background-color: #94d1d1;
    color: white;
    font-size: 25px;
    font-family: "Raleway", sans-serif;
    line-height: 1.5;
}

.DatosContacto {
    display: list-item;
    line-height: 1.5;
    color: white;
    font-size: 25px;
    font-family: "Raleway", sans-serif;
}