/* index */

ul {
    list-style: none;
}

li {
    display: inline-block;
    width: 12%;
    position: relative;
    font-size: 15px;
    color: black;
}

ul li a:hover {
    background-color: #28b9dd;
    color: white;
    padding: 4px;
}

a {
    display: inline-block;
    text-decoration: none;
    padding: 4px;
}

.menu__nav {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    height: auto;
}

.menu__title {
    color: #94d1d1;
    font-family: "Raleway", sans-serif;
    font-size: 70px;
    text-align: left;
    animation-duration: 3s;
    animation-name: aparecer;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.menu__section2 {
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    text-align: center;
    background-color: #94d1d1;
    height: 400px;
    align-content: center;
    padding-top: 1%;
}

.clients {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 200px;
}

footer {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    text-align: bottom;
    justify-content: center;
    padding: 10px;

}