/* Join Our Team */
.JoinOurTeam {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding: 30px;
    background-image: url("media/image-from-rawpixel-id-981821-jpeg.jpg");
    background-position: center;
    background-size: cover;
}

.FormJoinOurTeam {
    color: "black";
    font-size: 25px;
    font-family: "Raleway", sans-serif;
    line-height: 1.5;
    text-align: center;
    width: 30vh;
}

.form-group {
    width: 40vh;
    margin-left: 50vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}