/* Our Services */
.services {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #94d1d1;

}

.findtalent {
    text-align: center;
    line-height: 1.5;
    padding: 10px;
    justify-self: left;
}

.findajob {
    line-height: 2;
    padding: 10px;
    text-align: center;
}

.JobOpeningsList {
    display: flex;
    flex-direction: column;
    line-height: 2;
    color: white;
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    justify-content: space-between;
}