/* Who We Are */

.gridTeam {
    display:grid;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "WhoWeAre"
                            "MeetTheTeam";
    width: 100%;
    height: 90vh;
    grid-row-gap: 10px;
    padding: 10px;
    justify-items: space-between;
    font-family:'Raleway', sans-serif;
    font-size: 20px;
    color: white;
}

.WhoWeAre {
    grid-area: WhoWeAre;
    background-color:rgb(121, 180, 183);
    text-align: left;
    text-justify: auto;
    line-height: 2;

}

.MeetTheTeam{
    grid-area: MeetTheTeam;
    background-color:rgb(121, 180, 183);

}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.button {
    background-color:rgb(42, 157, 143);
}
