@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300&display=swap");
@media (min-width: 451) and (max-width: 540px) {
  body {
    background: #f7f3eb;
  }
}
@media (min-width: 541) and (max-width: 768) {
  body {
    background: #f7f3eb;
  }
}
@media (min-width: 769) and (max-width: 1024) {
  body {
    background: #f7f3eb;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f3eb;
}
body h1 {
  color: #ada9a9;
  font-family: "Raleway", sans-serif;
  font-size: 55px;
  font-weight: bolder;
  padding-top: 20px;
}
body h2 {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  padding-top: 20px;
}
body h3 {
  color: #94d1d1;
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  text-align: center;
  padding-top: 20px;
  font-weight: bold;
}
body h4 {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 35px;
}
body h5 {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

header {
  text-align: right;
  height: 50px;
  padding: 10px;
}


form {
  justify-content: space-evenly;
  color: white;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
}

/* index */

ul {
  list-style: none;
}

li {
  display: inline-block;
  width: 12%;
  position: relative;
  font-size: 15px;
  color: black;
}

ul li a:hover {
  background-color: #28b9dd;
  color: white;
  padding: 4px;
}

a {
  display: inline-block;
  text-decoration: none;
  padding: 4px;
}

.menu__nav {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  height: auto;
}

.menu__title {
  color: #94d1d1;
  font-family: "Raleway", sans-serif;
  font-size: 70px;
  text-align: left;
  animation-duration: 3s;
  animation-name: aparecer;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menu__section2 {
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  text-align: center;
  background-color: #94d1d1;
  height: 400px;
  align-content: center;
  padding-top: 1%;
}
.clients {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 200px;
}

footer {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  text-align: bottom;
  justify-content:center;
  padding: 10px;
  
}

/* Our Services */
.services {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #94d1d1;
  
}

.findtalent {
  text-align: center;
  line-height: 1.5;
  padding: 10px;
  justify-self: left;
}

.findajob {
  line-height: 2;
  padding: 10px;
  text-align: center;
  }

.JobOpeningsList {
  display: flex;
  flex-direction: column;
  line-height: 2;
  color: white;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  justify-content: space-between;
}

/* Who We Are */
.gridTeam {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90vh;
  padding: 10px;
  justify-items: space-between;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: white;
  padding: 20px;

}

.WhoWeAre {
  background-color: #94d1d1;;
  color: white;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  text-align: justify;
  text-justify: auto;
  line-height: 2;
  padding: 20px;
}

.MeetTheTeam {
  background-color: #94d1d1;;
  padding: 20px;
  font-family: "Raleway", sans-serif;
  color: white;

}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.button {
  background-color: #94d1d1;
  border: 2px solid;
}

.container {
  width: auto;
}

/* Contact Us */
.ContactUs {
  height: 90vh;
  display: flex;
  flex-direction: row;
  background-color: #94d1d1;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  margin: auto;
}


.FormContactUs {
  background-color: #94d1d1;
  color: white;
  font-size: 25px;
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
}

.DatosContacto {
  display: list-item;
  line-height: 1.5;
  color: white;
  font-size: 25px;
  font-family: "Raleway", sans-serif;
}

/* Join Our Team */
.JoinOurTeam {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding: 30px;
  background-image: url("media/image-from-rawpixel-id-981821-jpeg.jpg");
  background-position: center;
  background-size: cover;
}

.FormJoinOurTeam {
  color: "black";
  font-size: 25px;
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  text-align: center;
  width: 30vh;
}

.form-group {
  width: 40vh;
  margin-left: 50vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

/*# sourceMappingURL=styles.css.map */
